.popup__content_content_avatar {
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 430px;
    min-height: 181px;
    padding: 34px 36px;
    position: relative;
    width: 100%;
}